body {
    background-color: black;
    color: white;
}

.page-content {
    margin-top: 100px;
}

.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    background-color: #070707;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: 3px solid #fafafa;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn-custom:hover {
    background-color: #fcfdfd;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    color: #070707;
}

.btn-custom:active {
    background-color: #003f7f;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}
  .btn-custom a {
    color: #fff; 
    text-decoration: none;
  }
  .btn-custom a:hover {
    color: black; 
  }